image: node:latest

stages:
  - install
  - lint
  - build
  - test
  - deploy

cache:
  paths:
    - node_modules/
    - .yarn-cache/

.changes: &changes
  - src/**/*
  - test/**/*
  - package.json
  - tsconfig.json
  - webpack.config.js
  - .gitlab-ci.yml
  - .prettier*

yarn_install:
  stage: install
  rules: [changes: *changes]
  script:
    - yarn --frozen-lockfile --check-files --cache-folder .yarn-cache install

lint:
  stage: lint
  rules: [changes: *changes]
  script:
    - yarn lint --check

build:
  stage: build
  rules: [changes: *changes]
  script:
    - export NODE_OPTIONS=--openssl-legacy-provider
    - yarn build

test:
  stage: test
  rules: [changes: *changes]
  script:
    - yarn test

pages:
  stage: deploy
  script:
    - yarn doc
  artifacts:
    paths: ['public/']
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
      changes: *changes
